@charset "ISO-8859-1";

#fundo {
	background-color: #101030;
	padding: 20px;
}

#titulo {
	color: lime;
}

.texto {
	color: lightcyan;
	font-weight: bold;
}

.quadro {
	background-color: green;
	padding: 30px;
	color: lightcyan;
	display: inline-block;
}