@CHARSET "UTF-8"
.borderButtonComboBox{
	border-left: #A0C0E7 1px solid; 
    border-right: #A0C0E7 1px solid; 
    border-top: #A0C0E7 1px solid;  
    border-bottom: #A0C0E7 1px solid;
    background-color: #E2EBF5;  
}
.fontLabelComboBox
{
    font-family:Segoe UI, Tahoma, Sans-Serif;
    font-size:10pt;
    color:#000000;              
}
 
.fontItemComboBox
{
    font-family:Segoe UI, Tahoma, Sans-Serif;
    font-size:10pt;
    color:#000000;              
}

