table {
  font-family: arial, sans-serif;
  border-collapse:  inherit;
  width: 50%;
}

td , th{
  border: 1px solid Tomato;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
